#main-container {
  place-items: center start;
  font-weight: bold;
}

#formthing {
  margin: auto;
  display: block;
}

#titleForm {
  padding: 5px;
  text-align: center;
  font-style: italic;
  font-size:26px;
}

#petrimage {
  animation: 1s linear 1s infinite alternate slidein;
  margin-left: 40%;
  padding-top: 10%;
}

@keyframes slidein {
  from {
    width: 30%;
    height: 10%;
    margin-left: 40%;
  }

  to {
    width: 40%;
    height: 200px;
    margin-left: 30%;
  }
}

#sign-in-form {
  max-width: 500px;
}

#label-inputs {
  font-weight: bold;
  margin-left: 0%;
}

#buttonstyle {
  background-image: linear-gradient(to right, #ff7b5c, #ff6c81);
  background-size: auto;
  border-radius: 2px;
}

@media only screen and (max-width: 768px) {
  .float-child {
    margin: auto;
  }
  #grad {
    background-image: linear-gradient(to bottom, #ff7b5c, #ff6c81);
    background-size: auto;
  }
}
@media only screen and (min-width: 768px) {
  .box {
    padding: 20px;
    display: flex;
  }
  #grad {
    background-image: linear-gradient(to right, #ff7b5c, #ff6c81);
    background-size: auto;
  }

  .float-child {
    width: 50%;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
  }
}
